.menu,
.main-content__description {
  font: 16px/19px "museo_sans_cyrl300", arial, helvetica, sans-serif;
}

.main-content__title {
  margin: 0vw 0vw 0 0;
  font: bold 197px/265px "pt_serifregular", arial, helvetica, sans-serif;
  color: #F8EEE4;
  opacity: 0.4;
  letter-spacing: 0.7vw;
}

.main-content__subtitle {
  font: bold 71px/93px "pt_serifregular", arial, helvetica, sans-serif;
  color: #F8EEE4;
  margin: 0;
  transform: translateY(-100%);
  padding-left: 69px;
} 

.main-content__description {
  margin: 8px 0px 15px 18px;
  color: #F8EEE4;
  transform: translateY(-100%);
  width: 69%;
}

.logo__image, .menu {
  display: inline-block;
} 

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: no-repeat url(img/wrapimg.png);
  background-size: cover;
}


.logo__image {
  padding: 4.5vw 0;
  width: 8vw; 
}

.header {
  margin-left: 141px;
  margin-bottom: 2.5vw;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  margin-right: 7%;
}

.menu__item {
  position: relative;
  margin-right: 26px;
  color: #F8EEE4;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item::after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s, width .5s;
}

.menu__item:hover {
  opacity: .5;
}

.menu__item:hover::after,
.menu__item_active::after {
  opacity: 1;
  width: 100%;
}

.menu__item:hover::after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056EC;
}

.main {
  margin-left: 146px;
  padding: 0vw 0 0 0;
  display: flex;
  justify-content: space-between;
}


.main-content__button {
  display: inline-block;
  font: 20px/19px  "museo_sans_cyrl300", arial, helvetica, sans-serif;
  color: #fff;
  background: #D4BEA3;
  margin-left: 2%;
  padding: 17px 80px;
  text-decoration: none;
  border-radius: 48px;
  transform: translateY(-55%);
  transition: opacity .5s;
  animation: flash 3s infinite ease-in-out reverse;
}

.main-content__button:hover: {
  opacity: .5s;
}

@keyframes flash {
  to {
    color: red;
  }
}

.image-content {
  display: flex;
  align-items: center;
}

.image-content__image {
  position: relative;
  margin-right: 21px;
  border-radius: 5px;
}

.image-content__image:last-child {
  padding-right: 0;
}

.image-content__image_big {
  width: 16.5vw;
  height: 22vw;
}

.image-content__image_medium {
  width: 15vw;
  height: 20vw;
}

.image-content__image_small {
  margin-right: 0;
  width: 11vw;
  height: 20vw;
}