.menu {
  font: 1.2vw "museo_sans_cyrl300", arial, helvetica, sans-serif;
}

.main-content__title {
  margin: 0vw 0vw 0 0;
  font: bold 14.5vw "pt_serifregular", arial, helvetica, sans-serif;
  color: #F8EEE4;
  opacity: 0.4;
  letter-spacing: 0.7vw;
}

.main-content__subtitle {
  font: bold 5.4vw "pt_serifregular", arial, helvetica, sans-serif;
  color: #F8EEE4;
  margin: 0;
  transform: translateY(-110%);
  padding-left: 4.3vw;
} 

.main-content__description {
  font: 1.16vw "museo_sans_cyrl300", arial, helvetica, sans-serif;
  margin: -2.7vw 0 0 1vw;
  color: #F8EEE4;
  transform: translateY(-100%);
  width: 28vw;
}

.logo__image, .menu {
  display: inline-block;
} 

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: no-repeat url(img/wrapimg.png);
  background-size: cover;
}


.logo__image {
  padding: 4.5vw 0;
  width: 8vw; 
}

.header {
  margin-left: 10vw;
  margin-bottom: 3.2vw;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  margin-right: 7%;
}

.menu__item {
  position: relative;
  margin-right: 1.8vw;
  color: #F8EEE4;
  text-decoration: none;
  transition: opacity .5;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item::after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s, width .5s;
}

.menu__item:hover {
  opacity: .5;
}

.menu__item:hover::after,
.menu__item_active::after {
  opacity: 1;
  width: 100%;
}

.menu__item:hover::after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056EC;
}

.main {
  margin-left: 10.5vw;
  padding: 0vw 0 0 0;
  display: flex;
  justify-content: space-between;
}


.main-content__button {
  display: inline-block;
  font: 1.15vw  "museo_sans_cyrl300", arial, helvetica, sans-serif;
  color: #fff;
  background: #D4BEA3;
  margin-left: 1vw;
  padding: 20px 91px;
  text-decoration: none;
  border-radius: 48px;
  transform: translateY(-58%);
  transition: opacity .5s;
  animation: flash 3s infinite ease-in-out reverse;
}

.main-content__button:hover {
  opacity: .5;
}

@keyframes flash {
  to {
    color: red;
  }
}

.image-content {
  display: flex;
  align-items: center;
}

.image-content__image {
  margin-top: 1.2vw;
  position: relative;
  margin-right: 1.5vw;
  border-radius: 5px;
}

.image-content__image:last-child {
  padding-right: 0;
}

.image-content__image_big {
  width: 16.5vw;
  height: 22vw;
}

.image-content__image_medium {
  width: 15vw;
  height: 20vw;
}

.image-content__image_small {
  margin-right: 0;
  width: 11vw;
  height: 20vw;
}

@media (max-width: 1366px) {

  .menu,
  .main-content__description {
    font: 1.2vw "museo_sans_cyrl300", arial, helvetica, sans-serif;
  }

  body {
    height: 100vh;
  }

  .main-content__title {
    font: bold 197px/265px "pt_serifregular", arial, helvetica, sans-serif;
  }

  .main-content__subtitle {
    font: bold 4.9vw "pt_serifregular", arial, helvetica, sans-serif;
    transform: translateY(-7vw);
    padding-left: 4vw;
    letter-spacing: 0.3vw;
  } 

  .main-content__description {
    margin: 0 0 0 1vw;
    width: 29vw;
    transform: translateY(-6.1vw);
  }

  .header {
    margin-left: 141px;
    margin-bottom: 2.5vw;
  }

  .menu__item {
    margin-right: 26px;
  }

  .main {
    margin-left: 146px;
  }

  .main-content__button {
    font: bold 1.2vw  "museo_sans_cyrl300", arial, helvetica, sans-serif;
    margin-left: 0.8vw;
    padding: 1vw 4.6vw;
    transform: translateY(-4.4vw);
  }

  .image-content__image {
    margin-top: 0.4vw;
  }
}

@media (max-width: 1024px) {

  .menu,
  .main-content__description {
    font: 1.6vw "museo_sans_cyrl300", arial, helvetica, sans-serif;
  }

  
  .logo__image {
    padding: 6.4vw 0;
    width: 10vw;
  }

  .main {
    margin-left: 4vw;
  }

  .menu {
    margin-right: 3.4vw;
  }
 
  .main-content__title {
    font: bold 20vw "pt_serifregular", arial, helvetica, sans-serif;
  }

  .main-content__subtitle {
    font: bold 6.2vw "pt_serifregular", arial, helvetica, sans-serif;
    transform: translateY(-9.6vw);
    padding-left: 5.8vw;
    letter-spacing: 0.6vw;
  } 

  .main-content__description {
    margin: 0 5.3vw 0 1.4vw;
    width: 39vw;
    transform: translateY(-7.7vw);
  }

  .main-content__button {
    font: bold 1.5vw  "museo_sans_cyrl300", arial, helvetica, sans-serif;
    margin-left: 1.8vw;
    padding: 1.2vw 6vw;
    transform: translateY(-5.2vw);
  }

  .image-content__image_big {
    width: 22vw;
    height: 29vw;
  }

  .image-content__image_medium {
    width: 20vw;
    height: 26vw;
  }

  .image-content__image_small {
    width: 18vw;
    height: 26vw;
  }

  .image-content__image {
    margin-right: 2vw;
    margin-top: 0.4vw;
  }

  .header {
    margin-left: 4vw;
    margin-bottom: 3.1vw;
  }
}

@media (max-width: 375px) {

  .main-content__description {
    font: 5vw "museo_sans_cyrl300", arial, helvetica, sans-serif;
  }

  .menu {
    font: 5vw "museo_sans_cyrl300", arial, helvetica, sans-serif;
  }

  .header {
    margin-left: 12vw;
    margin-bottom: 5vw;
  }

  .logo__image {
    padding: 12vw 0;
    width: 26vw;
    height: 9vw;
  }

  .main {
    margin-left: 4vw;
  }

  .menu {
    margin-right: 3.4vw;
    display: none;
  }

  .burger-menu {
    background-color: white;
    width: 20px;
    height: 3px;
    position: relative;
    top: 17vw;
    right: 9vw;
    z-index: 2;
  }

  .burger-menu:before,
  .burger-menu:after {
    content: "";
    background-color: white;
    width: 20px;
    height: 3px;
    position: absolute;
    transition: top 0.3s ease-in, transform 0.3s ease-in, color 0.3s ease-in;
  }

  .burger-menu:before {
    top: -6px;
  }

 .burger-menu:after {
    top: 6px;
  }

  #burger:checked ~ .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    width: 100vw;
    height: 100vh;
    z-index: 1;
  }

  #burger:checked ~ .burger-menu {
    background-color: rgba(0, 0, 0, 0);
  }


  #burger:checked ~ .burger-menu:before,
  #burger:checked ~ .burger-menu:after {
    background-color: black;
  }

  #burger:checked ~ .burger-menu:before {
    transform: rotate(45deg);
  }

  #burger:checked ~ .burger-menu:after {
    transform: rotate(-45deg);
    top: -6px;
  }

  .menu__item {
    color: black;
    font-size: 8.1vw;
    margin: 0 0 6.9vw 0;
    text-transform: lowercase;
  }

  #burger {
    display: none;
  }
  
  .main-content__title {
    font: bold 45vw "pt_serifregular", arial, helvetica, sans-serif;
    letter-spacing: 2.2vw;
  }

  .main-content__subtitle {
    font: bold 15vw "pt_serifregular", arial, helvetica, sans-serif;
    transform: translateY(-19vw);
    padding-left: 16vw;
    letter-spacing: 1.1vw;
  } 

  .image-content {
    display: none;
  }

  .main-content__description {
    margin: 0 0 0 6vw;
    width: 79vw;
    text-align: center;
    transform: translateY(-7.7vw);
  }

  .main-content__button {
    font: bold 4vw  "museo_sans_cyrl300", arial, helvetica, sans-serif;
    margin-left: 16vw;
    padding: 3.5vw 17.4vw;
    transform: translateY(1.8vw);
  } 
}